<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title">Are You a Driver or Passenger</h3>
                    <a href="/drivers"><button>I'm a Driver</button></a>
                    <a href="/passengers"><button>I'm a Passenger</button></a>

                </div>
            </div>
        </div>
    </div>
</div>